<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Catriona Munro</h2>
        </header>
        <p> Marine evolutionary biologist.
        <br />
        CNRS Researcher
        <br />
      in the <a href="https://lbdv.imev-mer.fr/en/research/teams/team-clytia-home/">Clytia team</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Read more</a></li>
            </ul>
        </footer>

    </div>

</section>
